* {
	padding: 0;
	margin: 0;
    }

body {
    margin: 0;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

div {
    display: inline-block;
    padding: 32px;
}    

h1 {
    margin: 24px 0;
    color: #4682B4;
    font-family: 'Vollkorn', serif;
    font-size: 40px;
}

p, ul{
    font-size: 16px;
}


.main {
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    flex-grow: 1;
    padding-top: 48px;
}

.header {
    padding: 32px;
    border-bottom: 2px solid #4682B4;
    text-align: center;
}

.main-div-left {
    width: 40%;  
}

.main-photo
{
    width: 100%;
    border-radius: 100%;
    min-width: 240px;
    max-width: 400px;
}

.contact-item{
    margin: 32px 0;
    display: flex;
    align-items: center;
}

.contact-icons{
    height: 56px;
    margin-right: 32px;
}

.link{
    font-size: 24px;
    margin: 0 8px;
    font-weight: 400;
    color: #32517f;
}

.main-div-right{
    vertical-align: top;       
}

.subtitle{
    margin-top: 16px;
    color: #4682B4;
    font-family: 'Vollkorn', serif;
    font-size: 24px;
    border-left: 4px solid #4682B4;
    padding-left: 8px;
}

.list-item{
    margin-left: 32px;
}

.main-div-right-point{
    margin: 8px 0 24px;
}

footer {
    padding: 32px;
    border-top: 2px solid #4682B4;
    text-align: center;
    display: block;
}

.footer-text{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #32517f;    
}

.footer-img{
    margin-left: 16px;
}